* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
#datetime-picker {
  border: 2px solid;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.5;
  font-size: 20px;
  width: 220px;
}
button[data-start] {
  border: 2px solid;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.5;
  font-size: 20px;
}
.timer {
  display: flex;
  gap: 40px;
}
span[data-days] {
  margin-top: 40px;
  display: flex;
  font-size: 36px;
}
span[data-hours] {
  margin-top: 40px;
  display: flex;
  font-size: 36px;
}
span[data-minutes] {
  margin-top: 40px;
  display: flex;
  font-size: 36px;
}
span[data-seconds] {
  margin-top: 40px;
  display: flex;
  font-size: 36px;
}
